.header {
  background: #15202b;
  text-align: center;
}
.container {
  padding: 10px;
}

.list {
  list-style-type: none;
}

.header-title {
  color: #fff;
  text-decoration: none;
}

.header-icon {
  color: #fff;
  margin-left: 10px;
}
